* {
  margin: 0; }

body {
  background-color: #000; }

h1, h3, p, h2, li, h4, a, span, button {
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: 100;
  color: #fff;
  letter-spacing: 0.8px; }

p, input, textarea {
  font-family: 'Montserrat';
  font-weight: normal;
  font-weight: 100;
  font-size: 19px; }

textarea, input {
  outline: 0; }

h3 {
  font-size: 20px; }

svg {
  stroke-width: 4; }

.row {
  margin: 0 !important; }

.container {
  padding: 0 !important; }

.body1 {
  overflow: hidden;
  position: relative;
  z-index: 99999; }

.magic-1 {
  background-color: initial !important;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease; }
  .magic-1 h1 {
    opacity: 0; }

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999; }

.background-1 {
  display: block !important; }

.magic {
  background-color: #dcdcdc;
  -webkit-transition: all .01s ease;
  -o-transition: all .01s ease;
  transition: all .01s ease; }
  .magic h1 {
    color: #EE8572; }

.magic-l {
  background-color: #111 !important; }

.line-1x {
  -webkit-transform: rotate(-45deg) translate(-0.45vw, 0.2vw);
  -ms-transform: rotate(-45deg) translate(-0.45vw, 0.2vw);
  transform: rotate(-45deg) translate(-0.45vw, 0.2vw);
  background-color: #111 !important; }

.line-2x {
  -webkit-transform: rotate(45deg) translate(-0.48vw, -0.3vw);
  -ms-transform: rotate(45deg) translate(-0.48vw, -0.3vw);
  transform: rotate(45deg) translate(-0.48vw, -0.3vw);
  background-color: #111 !important; }

.fade-toggle {
  left: 80% !important;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.header {
  width: 100%;
  height: 100vh;
  background: url("../img/StockSnap_7TG84UG5EF.jpg");
  background-size: cover;
  background-position: center; }
  .header .row {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
    .header .row .top {
      padding: 0 2.5vw;
      position: fixed;
      top: 0;
      z-index: 9999;
      width: 100%;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .header .row .top .left {
        float: left; }
      .header .row .top .right {
        float: right; }
        .header .row .top .right .button {
          position: relative;
          z-index: 100000; }
          .header .row .top .right .button .click-on {
            float: right;
            margin: 1.28vw 0;
            z-index: 1001;
            position: relative;
            right: 0; }
          .header .row .top .right .button .line-1, .header .row .top .right .button .line-2 {
            width: 2.3vw;
            height: 0.3vw;
            margin: 0.7vw;
            background-color: #fff;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease; }
      .header .row .top h1 {
        font-size: 2vw;
        margin: 0.61em 0; }
    .header .row .menu-toggle {
      width: 20%;
      height: 100vh;
      position: absolute;
      background-color: #fff;
      z-index: 10000;
      left: 100%;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .header .row .menu-toggle ul {
        margin-top: 10vw;
        padding-left: 4vw; }
        .header .row .menu-toggle ul li {
          padding: 0.8vw 0;
          list-style-type: none; }
          .header .row .menu-toggle ul li a {
            color: #111;
            font-size: 1.5vw; }

.text {
  padding: 0 10vw;
  margin: 5vw 0; }
  .text .item h1 {
    color: #111;
    font-size: 1.9vw;
    margin: 0.61em 0; }

.services {
  width: 100%;
  height: 100%; }
  .services .item {
    padding: 0 8vw; }
    .services .item .item-1 {
      width: 16%;
      margin: 4vw 3.5vw;
      display: inline-block; }
    .services .item .circle {
      border: .1vw dashed #707070;
      border-radius: 100%;
      height: 100%;
      padding: 3.5vw; }
      .services .item .circle img {
        width: 100%; }
    .services .item h2 {
      font-size: 1.5vw;
      color: #111;
      margin: 1vw 0 0 0; }

.work {
  width: 100%;
  height: 100%; }
  .work .item {
    padding: 0 8vw;
    margin: 6vw 0; }
    .work .item h1 {
      font-size: 3vw;
      color: #EE8572;
      text-align: center;
      margin: 2vw 0 3vw; }
    .work .item .item-w .link-1 {
      width: 24%; }
    .work .item .item-w .link-2 {
      width: 49%; }
    .work .item .item-w .link-3 {
      width: 36.5%; }
    .work .item .item-w .link-1, .work .item .item-w .link-2, .work .item .item-w .link-3 {
      height: 29vw;
      display: inline-block;
      background-position: center;
      background-size: cover; }
      .work .item .item-w .link-1 .text-i, .work .item .item-w .link-2 .text-i, .work .item .item-w .link-3 .text-i {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); }
        .work .item .item-w .link-1 .text-i .item-h, .work .item .item-w .link-2 .text-i .item-h, .work .item .item-w .link-3 .text-i .item-h {
          display: table;
          position: relative;
          top: 23vw;
          left: 4vw; }
        .work .item .item-w .link-1 .text-i h2, .work .item .item-w .link-2 .text-i h2, .work .item .item-w .link-3 .text-i h2 {
          color: #fff;
          font-size: 2vw; }

.contact {
  width: 100%;
  height: 100%;
  padding: 3vw 0;
  background-color: #F5F5F5; }
  .contact .item {
    padding: 0 8vw; }
    .contact .item h2 {
      font-size: 1.5vw;
      color: #111;
      margin: 1vw 0; }
      .contact .item h2 a {
        color: #EE8572; }

footer {
  width: 100%;
  height: 100%;
  background-color: #35495E;
  display: flow-root !important;
  padding: 1vw 8vw; }
  footer .item-left {
    float: left; }
    footer .item-left h2 {
      margin-right: 2vw;
      font-size: 1.5vw; }
  footer .item-right {
    float: right; }
  footer h2 {
    display: inline-block;
    font-size: 1.5vw; }
    footer h2 a {
      color: #fff; }
